name: build

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: List files to verify Dockerfile exists
        run: ls -R .

      - name: Build Docker image
        working-directory: ./   # atau ./Tastely jika folder nested
        run: docker build -t my-image-name:$(date +%s) .
